<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}HAVE A BITE!{{else}}YUMMY YUM!{{/if}}
	</button>

	<button class="remove-sushi" data-id="{{id}}">
		DELETE
	</button>
</li>